In [1]:
import pandas as pd

In [2]:
pd.read_excel('samplespecialchar.xlsx')

             Name            City       State            Phone
0  A R D%$@#anish  Da*r$-b&ha@nga     Bih%$ar     1234$%567890
1   A R Ra$@#shid  Mad*$h-ub&a@ni   $@Bih%$ar    424%4$%567891
2    Sonu Kh%$@an      Pat*$t&na@    %Bih%$ar   5#@434$%567892
3     Qama$r%@# J       G*a-&y$a@     %Bih$ar   1&*234$%567893
4       Ka$#vya%$  Gha*z$ia-b&@ad  #@*Bih%$ar  123*&4$%56#7894

In [3]:
df = pd.read_excel('samplespecialchar.xlsx')

In [4]:
df.head(2)

             Name            City      State          Phone
0  A R D%$@#anish  Da*r$-b&ha@nga    Bih%$ar   1234$%567890
1   A R Ra$@#shid  Mad*$h-ub&a@ni  $@Bih%$ar  424%4$%567891

In [5]:
dfcolumns = df.columns.tolist()

In [6]:
dfcolumns

['Name', 'City', 'State', 'Phone']

In [7]:
for index, row in df.iterrows():
  for col in dfcolumns:
    print(row[col])

A R D%$@#anish
Da*r$-b&ha@nga
Bih%$ar
1234$%567890
A R Ra$@#shid
Mad*$h-ub&a@ni
$@Bih%$ar
424%4$%567891
Sonu Kh%$@an
Pat*$t&na@
%Bih%$ar
5#@434$%567892
Qama$r%@# J
G*a-&y$a@
%Bih$ar
1&*234$%567893
Ka$#vya%$
Gha*z$ia-b&@ad
#@*Bih%$ar
123*&4$%56#7894

In [9]:
spccharlst = ['*', '$', '@', '-', '%', '#', '&']
for index, row in df.iterrows():
  for col in dfcolumns:
    temp = ""
    celldata = row[col]
    for chr in celldata:
      if chr in spccharlst:
        continue
      else:
        temp += chr
    print(temp)
    row[col] = temp

A R Danish
Darbhanga
Bihar
1234567890
A R Rashid
Madhubani
Bihar
4244567891
Sonu Khan
Pattna
Bihar
5434567892
Qamar J
Gaya
Bihar
1234567893
Kavya
Ghaziabad
Bihar
1234567894

In [10]:
df.head(2)

         Name       City  State       Phone
0  A R Danish  Darbhanga  Bihar  1234567890
1  A R Rashid  Madhubani  Bihar  4244567891

In [11]:
df

         Name       City  State       Phone
0  A R Danish  Darbhanga  Bihar  1234567890
1  A R Rashid  Madhubani  Bihar  4244567891
2   Sonu Khan     Pattna  Bihar  5434567892
3     Qamar J       Gaya  Bihar  1234567893
4       Kavya  Ghaziabad  Bihar  1234567894

In [12]:
df.to_excel("removedspcchar.xlsx")

In [13]:
df.to_excel("removedspccharup.xlsx")

## Happy Coding
# A R